<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ER REPRESENTACIONES DEL SUR</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta name="google-site-verification" content="js_AHXX3qo6Fc8XG_pqij_QdENF1wpJtAdrArp1qq7I" />

    <!-- Favicon -->
    <link href="./assets/img/logo_ERfin.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Lora:wght@600;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="./assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="./assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="./assets/css/style.css" rel="stylesheet">
	
<!-- 	<script src="./assets/js/preloadjs-0.1.0.min.js"></script> -->
<!-- 	<script src="./assets/js/mScript.js"></script> -->
	<style>
        .load {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .load_salchicha {
            width: 250px;
            height: 81px;
            background: #ffffff;
        }
        .load_salchicha_blanco {
            position: fixed;
            left: 0;
            width: 0;
            height: 81px;
            background: #1d70b7;
        }
		#porcentaje
		{
			color: #e40148;
            font-family: EnamelaBold;
			font-size:27px;
			position: absolute;
			z-index:10;
            left: 50%;
            top: 30px;
            transform: translateX(-50%);
            letter-spacing: 2px;
		}
		#wrapper
		{
			display:none;
		}
		.Boton_cookie{
            font-size:16px;
            cursor: pointer;
        }
        @media screen and (max-width: 768px) {
            .Boton_cookie{
                font-size:12px;
                cursor: pointer;
            }
        }
    </style>
	
</head>

<body>
<!-- 	<div id="preloader"> -->
<!-- 		<div class="load"> -->
<!-- 		    <img src="./assets/img/load2www.png" alt=""> -->
<!-- 		    <span id="porcentaje">94%</span> -->
<!-- 		</div> -->
<!-- 		<div class="load load_salchicha"> -->
<!-- 		    <div class="load_salchicha_blanco" style="width: 94%;"> -->
		    
<!-- 		    </div> -->
<!-- 		</div> -->
		
<!-- 		<div class="load"> -->
<!-- 		    <img src="./assets/img/logopre.png" alt=""> -->
<!-- 		</div> -->
<!-- 	</div> -->


    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status">
<!--         <img src="./assets/img/logopre.png" alt=""> -->
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="top-bar row gx-0 align-items-center d-none d-lg-flex">
            <div class="col-lg-6 px-5 text-start">
                <small><i class="fa fa-map-marker-alt me-2"></i>Lima Ate</small>
                <small class="ms-4"><i class="fa fa-envelope me-2"></i>marketing@representacionesdelsur.com</small>
            </div>
            <div class="col-lg-6 px-5 text-end">
                <small>Síguenos:</small>
                <a class="text-body ms-3" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="text-body ms-3" href=""><i class="fab fa-youtube"></i></a>
                <a class="text-body ms-3" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
            <a th:href="@{/}" class="navbar-brand ms-4 ms-lg-0">
            	<img class="hidden-xs img-responsive" src="./assets/img/logo_ERfin.png">
<!--                 <h2 class="fw-bold text-primary m-0"><span class="stroke">REPRESENTACIONES</span></h2> -->
<!-- 				<h2 class="fw-bold text-primary m-0"><span class="stroke">DEL SUR</span></h2> -->
				
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <h5><a th:href="@{/}" class="nav-item nav-link active">Inicio</a></h5>
                    <h5><a th:href="@{/nosotros}" class="nav-item nav-link">Nosotros</a></h5>
                    <h5><a th:href="@{/productos}" class="nav-item nav-link">Productos</a></h5>
                    <h5><a th:href="@{/contactenos}" class="nav-item nav-link">Contáctenos</a></h5>
					<h5><a th:href="@{/cobertura}" class="nav-item nav-link">Cobertura</a></h5>
					<p>&nbsp;</p>
					<a href="https://wa.me/51922731008?text=ER Representaciones del Sur,%20me%20gustar%C3%ADa%20contactarme%20con%20ustedes.%20Muchas%20gracias."><img class="responsive-image" src="./assets/img/W03.png" alt="Whatsapp"></a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->


    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5 wow fadeIn bg-white1" data-wow-delay="0.1s">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="./assets/img/f4.jpg" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-7">
                                	<br><br><br><br><br><br><br><br><br><br><br><br><br>
                                	<a th:href="@{/productos}" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">Productos</a>
                                	<br><br><br>
                                    <h1 class="fw-bold mb-5 animated slideInDown"><span class="stroke-titulo">La Mejor calidad y variedad</span></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="./assets/img/imagee1.jpeg" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-7">
                                	<br><br><br><br><br><br><br><br><br><br><br><br><br>
                                	<a th:href="@{/productos}" class="btn btn-secondary rounded-pill py-sm-3 px-sm-5">Productos</a>
                                	<br><br><br>
                                	<h1 class="fw-bold mb-5 animated slideInDown"><span class="stroke-titulo">Brindamos el mejor servicio</span></h1>
<!-- 									<h2 class="fw-bold text-primary m-0"><span class="stroke">DEL SUR</span></h2> -->
<!--                                     <h1 class="display-2 mb-5 animated slideInDown">Brindamos el mejor servicio</h1> -->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previo</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img position-relative overflow-hidden p-5 pe-0">
                        <img class="img-fluid w-100" src="./assets/img/carousell_01.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Bienvenidos a</h1>
					<h1 class="display-5 mb-4">ER REPRESENTACIONES DEL SUR</h1>
                    <p class="mb-4">Nos enorgullece ofrecer a nuestros clientes los mejores embutidos nacionales y papas importadas. Nuestro objetivo es proporcionar embutidos de calidad como también papas congeladas de la más alta calidad, directamente desde el campos de cultivo hasta su puerta.</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Somos una empresa comprometida con la excelencia y la satisfacción del cliente. Trabajamos de manera estrcha con nuestros proveedores internacionales y nacionales para seleccionar cuidadosamente las variedades más deliciosas y nutritivas, asegurando que cada producto cumpla con los estándares más exigentes de calidad.</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Cuenta con la mejor calidad y variedades con un sabor exquisito</p>
<!--                     <p><i class="fa fa-check text-primary me-3"></i>Además de ofrecer papas de alta calidad, nos preocupamos por brindar un excelente servicio al cliente. Nuestro equipo está aquí para ayudarte en todo momento, ya sea que necesites asesoramiento sobre qué variedad de papa elegir, información sobre envíos o cualquier otra consulta relacionada con nuestro producto. Tu satisfacción es nuestra prioridad número uno.</p> -->
<!-- 					<p><i class="fa fa-check text-primary me-3"></i>Te invitamos a explorar nuestra página web y descubrir la increíble variedad de papas importadas que tenemos disponibles. Comprar con nosotros es fácil, seguro y conveniente. ¡Realiza tu pedido hoy mismo y disfruta de las mejores papas importadas en la comodidad de tu hogar!</p> -->
                    <a class="btn btn-primary rounded-pill py-3 px-5 mt-3">¡Esperamos que disfrutes de los mejores embutidos y de calidad superior!</a>
                </div>
            </div>
        </div>
    </div>
	
	<div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
<!--                     <h1 class="display-5 mb-4">Bienvenidos a</h1> -->
					<h1 class="display-5 mb-4">ER REPRESENTACIONES DEL SUR</h1>
<!--                     <p class="mb-4">Nos enorgullece ofrecer a nuestros clientes las mejores papas importadas de todo el mundo. Nuestro objetivo es proporcionar papas frescas, sabrosas y de la más alta calidad, directamente desde los campos de cultivo hasta su puerta.</p> -->
<!--                     <p><i class="fa fa-check text-primary me-3"></i>Somos una empresa comprometida con la excelencia y la satisfacción del cliente. Trabajamos estrechamente con nuestros proveedores internacionales para seleccionar cuidadosamente las variedades de papas más deliciosas y nutritivas, asegurando que cada producto cumpla con los estándares más exigentes de calidad.</p> -->
<!--                     <p><i class="fa fa-check text-primary me-3"></i>Cuenta con la mejor calidad y variedades con un sabor exquisito</p> -->
                    <p><i class="fa fa-check text-primary me-3"></i>Además de ofrecer embutidos y papas de alta calidad, nos preocupamos por brindar un excelente servicio al cliente. Nuestro equipo está para ayudarte en todo momento, ya sea que necesites asesoramiento sobre qué variedad de papa o embutido a elegir. Tu satisfaccion es nuestra prioridad.</p>
					<p><i class="fa fa-check text-primary me-3"></i>Te invitamos a explorar nuestra página web y descubrir la increíble variedad de embutidos nacionales y papas importadas que tenemos disponibles. Comprar con nosotros es fácil, seguro y conveniente. ¡Realiza tu pedido hoy mismo y disfruta de las mejores papas importadas en la comodidad de tu hogar!</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5 mt-3">¡Esperamos que disfrutes de una experiencia culinaria extraordinaria con nuestras papas importadas de calidad superior!</a>
                </div>
				<div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img position-relative overflow-hidden p-5 pe-0">
                        <img class="img-fluid w-100" src="./assets/img/inicio1.jpeg">
                    </div>
                </div>
            </div>
			
        </div>
    </div>
    <!-- About End -->


    <!-- Feature Start -->
    <div class="container-fluid bg-light bg-icon my-5 py-6">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-5 mb-3">Nuestros productos</h1>
                <p>De la mejor calidad y mejor atención.</p>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="bg-black text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="./assets/img/icono0001.png" alt="">
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="bg-black text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="./assets/img/icono0002.png" alt="">
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="bg-black text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="./assets/img/icono0003.png" alt="">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->



    <!-- Testimonial Start -->
<!--     <div class="container-fluid bg-light bg-icon py-6 mb-5"> -->
<!--         <div class="container"> -->
<!--             <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;"> -->
<!--                 <h1 class="display-5 mb-3">Nuestros clientes</h1> -->
<!--                 <p>Son lo más importante para nosotros y nos encargamos de brindarle los mejores productos y el mejor servicio.</p> -->
<!--             </div> -->
<!--             <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s"> -->
<!--                 <div class="testimonial-item position-relative bg-white p-5 mt-4"> -->
<!--                     <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i> -->
<!--                     <p class="mb-4">un breve resumen o floro .</p> -->
<!--                     <div class="d-flex align-items-center"> -->
<!--                         <img class="flex-shrink-0 rounded-circle" src="./assets/img/testimonial-1.jpg" alt=""> -->
<!--                         <div class="ms-3"> -->
<!--                             <h5 class="mb-1">Nombre del cliente</h5> -->
<!--                             <span>Cargo</span> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
<!--                 <div class="testimonial-item position-relative bg-white p-5 mt-4"> -->
<!--                     <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i> -->
<!--                     <p class="mb-4">un breve resumen o floro .</p> -->
<!--                     <div class="d-flex align-items-center"> -->
<!--                         <img class="flex-shrink-0 rounded-circle" src="./assets/img/testimonial-2.jpg" alt=""> -->
<!--                         <div class="ms-3"> -->
<!--                             <h5 class="mb-1">Nombre del cliente</h5> -->
<!--                             <span>Cargo</span> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
<!--                 <div class="testimonial-item position-relative bg-white p-5 mt-4"> -->
<!--                     <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i> -->
<!--                     <p class="mb-4">un breve resumen o floro .</p> -->
<!--                     <div class="d-flex align-items-center"> -->
<!--                         <img class="flex-shrink-0 rounded-circle" src="./assets/img/testimonial-3.jpg" alt=""> -->
<!--                         <div class="ms-3"> -->
<!--                             <h5 class="mb-1">Nombre del cliente</h5> -->
<!--                             <span>Cargo</span> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
<!--                 <div class="testimonial-item position-relative bg-white p-5 mt-4"> -->
<!--                     <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i> -->
<!--                     <p class="mb-4">un breve resumen o floro .</p> -->
<!--                     <div class="d-flex align-items-center"> -->
<!--                         <img class="flex-shrink-0 rounded-circle" src="./assets/img/testimonial-4.jpg" alt=""> -->
<!--                         <div class="ms-3"> -->
<!--                             <h5 class="mb-1">Nombre del cliente</h5> -->
<!--                             <span>Cargo</span> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
    <!-- Testimonial End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark footer mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h3 class="fw-bold text-primary mb-4"><span class="stroke">REPRESENTACIONES</span>
					<span class="stroke">DEL SUR</span>
					</h3>

                    <p>Ofrecemos a nuestros clientes los mejores productos. Desde hace más de 30 años, nos hemos dedicado a proporcionar productos frescos y de la más alta calidad.</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-0" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Dirección</h4>
                    <p><i class="fa fa-map-marker-alt me-3"></i>Lima, Ate</p>
                    <p><i class="fa fa-phone-alt me-3"></i>922 731 008</p>
                    <p style="font-size: 13px;"><i class="fa fa-envelope me-3"></i>marketing@representacionesdelsur.com</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Enlaces</h4>
                    <a class="btn btn-link" th:href="@{/}">Inicio</a>
                    <a class="btn btn-link" th:href="@{/nosotros}">Nosotros</a>
                    <a class="btn btn-link" th:href="@{/productos}">Productos</a>
                    <a class="btn btn-link" th:href="@{/contactenos}">Contáctenos</a>
					<a class="btn btn-link" th:href="@{/cobertura}">Cobertura</a>
                </div>
            </div>
        </div>
        <div class="container-fluid copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a href="#">ER Representaciones del Sur</a>, All Right Reserved.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a href="#">Archy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/lib/wow/wow.min.js"></script>
    <script src="./assets/lib/easing/easing.min.js"></script>
    <script src="./assets/lib/waypoints/waypoints.min.js"></script>
    <script src="./assets/lib/owlcarousel/owl.carousel.min.js"></script>
	
	<script>
$(document).scroll(function(){
     $('.header').toggleClass('scrolled', $(this).scrollTop() > 100);
     $('.header img').toggleClass('scrolled-img', $(this).scrollTop() > 100);
     $('.item-menu').toggleClass('scrolled-item-menu', $(this).scrollTop() > 100);
     $('.degrade').toggleClass('degrade_opacity', $(this).scrollTop() > 100);
     var ancho = $(window).width();
     if(ancho > 768) {
         $('.menu').toggleClass('scrolled__menu', $(this).scrollTop() > 100);
         $('.menu__options').toggleClass('scrolled__menu__options', $(this).scrollTop() > 100);
         $('.menu__options__producto').toggleClass('menu__options__producto__scrolled', $(this).scrollTop() > 100);
         $('.menu__options__producto a').toggleClass('a__scrolled', $(this).scrollTop() > 100);
         $('.menu__options__delivery').toggleClass('menu__options__delivery__scrolled', $(this).scrollTop() > 100);
         $('.menu__options__delivery a').toggleClass('a__scrolled', $(this).scrollTop() > 100);
     }
 });
</script>

    <!-- Template Javascript -->
    <script src="./assets/js/main.js"></script>
</body>

</html>