<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta charset="UTF-8">
    <title>ER REPRESENTACIONES DEL SUR</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="./assets/img/logo_ERfin.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Lora:wght@600;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="./assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="./assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="./assets/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="top-bar row gx-0 align-items-center d-none d-lg-flex">
            <div class="col-lg-6 px-5 text-start">
                <small><i class="fa fa-map-marker-alt me-2"></i>Lima Ate</small>
                <small class="ms-4"><i class="fa fa-envelope me-2"></i>marketing@representacionesdelsur.com</small>
            </div>
            <div class="col-lg-6 px-5 text-end">
                <small>Síguenos:</small>
                <a class="text-body ms-3" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="text-body ms-3" href=""><i class="fab fa-youtube"></i></a>
                <a class="text-body ms-3" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
            <a th:href="@{/}" class="navbar-brand ms-4 ms-lg-0">
                <img class="hidden-xs img-responsive" src="./assets/img/logo_ERfin.png">
<!--                 <h2 class="fw-bold text-primary m-0"><span class="stroke">REPRESENTACIONES</span></h2> -->
<!-- 				<h2 class="fw-bold text-primary m-0"><span class="stroke">DEL SUR</span></h2> -->
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <h5><a th:href="@{/}" class="nav-item nav-link">Inicio</a></h5>
                    <h5><a th:href="@{/nosotros}" class="nav-item nav-link">Nosotros</a></h5>
                    <h5><a th:href="@{/productos}" class="nav-item nav-link active">Productos</a></h5>
                    <h5><a th:href="@{/contactenos}" class="nav-item nav-link">Contáctenos</a></h5>
					<h5><a th:href="@{/cobertura}" class="nav-item nav-link">Cobertura</a></h5>
					<p>&nbsp;</p>
					<a href="https://wa.me/51922731008?text=ER Representaciones del Sur,%20me%20gustar%C3%ADa%20contactarme%20con%20ustedes.%20Muchas%20gracias."><img class="responsive-image" src="./assets/img/W03.png" alt="Whatsapp"></a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->


    <!-- Page Header Start -->
<!--     <div class="container-fluid page-header2 mb-5 wow fadeIn" data-wow-delay="0.1s"> -->
<!--         <div class="container"> -->
<!--             <h1 class="display-3 mb-3 animated slideInDown">Productos</h1> -->
<!--             <nav aria-label="breadcrumb animated slideInDown"> -->
<!--                 <ol class="breadcrumb mb-0"> -->
<!--                     <li class="breadcrumb-item"><a class="text-body" href="#">Inicio</a></li> -->
<!--                     <li class="breadcrumb-item"><a class="text-body" href="#">Productos</a></li> -->
<!--                 </ol> -->
<!--             </nav> -->
<!--         </div> -->
<!--     </div> -->
    <!-- Page Header End -->
    
    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5 wow fadeIn bg-white1" data-wow-delay="0.1s">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item page-headerproducto1 active">
<!--                     <img class="w-100" src="./assets/img/productos001.jpeg" alt="Image"> -->
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-7">
                                	<h1 class="display-3 mb-3 animated slideInDown">Productos</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item page-headerproducto2">
<!--                     <img class="w-100" src="./assets/img/productos002.jpeg" alt="Image"> -->
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-7">
                                	<h1 class="display-3 mb-3 animated slideInDown">Productos</h1>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previo</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Product Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-0 gx-5 align-items-end">
                <div class="col-lg-6">
                    <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                        <h1 class="display-5 mb-3">Nuestros productos</h1>
                        <p>Lo mejor para los mejores.</p>
                    </div>
                </div>
                <div class="position-relative" style="max-width: 400px; margin-left:auto">
                    <input id="txt_busqueda" class="form-control w-100 py-2 ps-4 pe-5" type="text" placeholder="Buscar">
                    <button type="button" class="btn btn-primary py-1 position-absolute top-0 end-0 mt-1 me-6"><small class="fa fa-search text-body"></small></button>
                </div>
                <div class="col-lg-12 text-start wow slideInRight" data-wow-delay="0.1s">
                    <ul class="nav nav-pills d-inline-flex mb-5 ">
                    	<li class="nav-item me-2 mt-1">
                            <a class="btn btn-outline-primary border-2 active" data-bs-toggle="pill" href="#tab-ahumado" th:attr="onclick='limpiarbusqueda()'">AHUMADOS</a>
                        </li>
                        <li class="nav-item me-2 mt-1">
                            <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-empacado" th:attr="onclick='limpiarbusqueda()'">EMPACADOS</a>
                        </li>
                        <li class="nav-item me-2 mt-1">
                            <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-jamonada" th:attr="onclick='limpiarbusqueda()'">JAMONES</a>
                        </li>
                        <li class="nav-item me-2 mt-1">
                            <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-papa" th:attr="onclick='limpiarbusqueda()'">PAPAS CONGELADAS</a>
                        </li>
<!--                         <li class="nav-item me-2 mt-1"> -->
<!--                             <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-jamonada">Jamonada</a> -->
<!--                         </li> -->
<!--                         <li class="nav-item me-2 mt-1"> -->
<!--                             <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-jamon">Jamón</a> -->
<!--                         </li> -->
<!--                         <li class="nav-item me-2 mt-1"> -->
<!--                             <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-salchicha">Salchicha</a> -->
<!--                         </li> -->
<!--                         <li class="nav-item me-2 mt-1"> -->
<!--                             <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-papa">Papas</a> -->
<!--                         </li> -->
                    </ul>
                </div>
            </div>
            <div class="tab-content">
<!--             	<div id="tab-busqueda" class="tab-pane fade show p-0"> -->
<!--                     <div class="row g-4"> -->
<!--                         <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.7s"> -->
<!--                             <div class="product-item" id="div_busqueda"> -->
<!-- 									<span class="text-primary me-1">XXXXXXXXXXXXXXXXXXXXXXXXXXXX</span> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
				<div id="tab-busqueda" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="product-items col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.7s" th:each="ahumado: ${listTodo}">
                            <div class="product-item">
                                <div class="position-relative2 bg-white overflow-hidden">
                                	<img class="img-fluid w-100" th:src="@{./assets/img/productos} + ${ahumado.nombreImagen}" alt="">
<!--                                     <img class="img-fluid w-100" src="./assets/img/product-8.jpg" alt=""> -->
<!--                                     <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">new</div> -->
                                    <div class="rounded text-white position-absolute start-0 top-0 py-1 px-3"><img class="img-fluid" width="60px" th:src="@{./assets/img/marcas} + ${ahumado.marca}" alt=""></div>
                                </div>
                                <div class="text-center p-4">
                                    <a class="d-block h5 mb-2 text-largo" href="#" th:attr="onclick='openModal(\'' + @{/assets/img/productos} + ${ahumado.nombreImagen} + '\', \'' + ${ahumado.nombre} + '\', \'' + ${ahumado.presentaciones} + '\', \'' + @{/assets/img/marcas} + ${ahumado.marca} + '\' , \'' + ${ahumado.descripcion} + '\' )'"><span class="text-primary1 me-1" th:title="${ahumado.nombre}" th:text="${ahumado.nombre}" style="margin-left: 10px;"></span></a>
                                    <span class="text-primary me-1" th:text="${ahumado.presentaciones}"></span>
<!--                                     <span class="text-body text-decoration-line-through" th:text="${ahumado.precio}"></span> -->
                                </div>
                                <div class="d-flex border-top">
                                    <small class="w-100 text-center border-end py-2">
										<a class="text-body" href="#" th:attr="onclick='openModal(\'' + @{/assets/img/productos} + ${ahumado.nombreImagen} + '\', \'' + ${ahumado.nombre} + '\', \'' + ${ahumado.presentaciones} + '\', \'' + @{/assets/img/marcas} + ${ahumado.marca} + '\' , \'' + ${ahumado.descripcion} + '\' )'"><i class="fa fa-eye text-primary me-2"></i><strong>Ver detalle</strong></a>
                                    </small>
                                    <small class="w-100 text-center border-end py-2">
										<a class="text-body" href="#" th:attr="onclick='openWhatsapp(\'' + @{/assets/img/productos} + ${ahumado.nombreImagen} + '\', \'' + ${ahumado.nombre} + '\', \'' + ${ahumado.presentaciones} + '\', \'' + @{/assets/img/marcas} + ${ahumado.marca} + '\' , \'' + ${ahumado.descripcion} + '\' )'"><i class="fab fa-whatsapp text-whatsapp me-2"></i><strong>Consulte aquí</strong></a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-ahumado" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.7s" th:each="ahumado: ${listAhumado}">
                            <div class="product-item">
                                <div class="position-relative2 bg-white overflow-hidden">
                                	<img class="img-fluid w-100" th:src="@{./assets/img/productos} + ${ahumado.nombreImagen}" alt="">
<!--                                     <img class="img-fluid w-100" src="./assets/img/product-8.jpg" alt=""> -->
<!--                                     <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">new</div> -->
                                    <div class="rounded text-white position-absolute start-0 top-0 py-1 px-3"><img class="img-fluid" width="60px" th:src="@{./assets/img/marcas} + ${ahumado.marca}" alt=""></div>
                                </div>
                                <div class="text-center p-4">
                                    <a class="d-block h5 mb-2 text-largo" href="#" th:attr="onclick='openModal(\'' + @{/assets/img/productos} + ${ahumado.nombreImagen} + '\', \'' + ${ahumado.nombre} + '\', \'' + ${ahumado.presentaciones} + '\', \'' + @{/assets/img/marcas} + ${ahumado.marca} + '\' , \'' + ${ahumado.descripcion} + '\' )'"><span class="text-primary1 me-1" th:title="${ahumado.nombre}" th:text="${ahumado.nombre}" style="margin-left: 10px;"></span></a>
                                    <span class="text-primary me-1" th:text="${ahumado.presentaciones}"></span>
<!--                                     <span class="text-body text-decoration-line-through" th:text="${ahumado.precio}"></span> -->
                                </div>
                                <div class="d-flex border-top">
                                    <small class="w-100 text-center border-end py-2">
										<a class="text-body" href="#" th:attr="onclick='openModal(\'' + @{/assets/img/productos} + ${ahumado.nombreImagen} + '\', \'' + ${ahumado.nombre} + '\', \'' + ${ahumado.presentaciones} + '\', \'' + @{/assets/img/marcas} + ${ahumado.marca} + '\' , \'' + ${ahumado.descripcion} + '\' )'"><i class="fa fa-eye text-primary me-2"></i><strong>Ver detalle</strong></a>
                                    </small>
                                    <small class="w-100 text-center border-end py-2">
										<a class="text-body" href="#" th:attr="onclick='openWhatsapp(\'' + @{/assets/img/productos} + ${ahumado.nombreImagen} + '\', \'' + ${ahumado.nombre} + '\', \'' + ${ahumado.presentaciones} + '\', \'' + @{/assets/img/marcas} + ${ahumado.marca} + '\' , \'' + ${ahumado.descripcion} + '\' )'"><i class="fab fa-whatsapp text-whatsapp me-2"></i><strong>Consulte aquí</strong></a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-empacado" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.7s" th:each="ahumado: ${listEmpacado}">
                            <div class="product-item">
                                <div class="position-relative2 bg-white overflow-hidden">
                                	<img class="img-fluid w-100" th:src="@{./assets/img/productos} + ${ahumado.nombreImagen}" alt="">
<!--                                     <img class="img-fluid w-100" src="./assets/img/product-8.jpg" alt=""> -->
<!--                                     <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">new</div> -->
                                    <div class="rounded text-white position-absolute start-0 top-0 py-1 px-3"><img class="img-fluid" width="60px" th:src="@{./assets/img/marcas} + ${ahumado.marca}" alt=""></div>
                                </div>
                                <div class="text-center p-4">
                                    <a class="d-block h5 mb-2 text-largo" href="#" th:attr="onclick='openModal(\'' + @{/assets/img/productos} + ${ahumado.nombreImagen} + '\', \'' + ${ahumado.nombre} + '\', \'' + ${ahumado.presentaciones} + '\', \'' + @{/assets/img/marcas} + ${ahumado.marca} + '\' , \'' + ${ahumado.descripcion} + '\' )'"><span class="text-primary1 me-1" th:title="${ahumado.nombre}" th:text="${ahumado.nombre}" style="margin-left: 10px;"></span></a>
                                    <span class="text-primary me-1" th:text="${ahumado.presentaciones}"></span>
<!--                                     <span class="text-body text-decoration-line-through" th:text="${ahumado.precio}"></span> -->
                                </div>
                                <div class="d-flex border-top">
                                    <small class="w-100 text-center border-end py-2">
										<a class="text-body" href="#" th:attr="onclick='openModal(\'' + @{/assets/img/productos} + ${ahumado.nombreImagen} + '\', \'' + ${ahumado.nombre} + '\', \'' + ${ahumado.presentaciones} + '\', \'' + @{/assets/img/marcas} + ${ahumado.marca} + '\' , \'' + ${ahumado.descripcion} + '\' )'"><i class="fa fa-eye text-primary me-2"></i><strong>Ver detalle</strong></a>
                                    </small>
                                    <small class="w-100 text-center border-end py-2">
										<a class="text-body" href="#" th:attr="onclick='openWhatsapp(\'' + @{/assets/img/productos} + ${ahumado.nombreImagen} + '\', \'' + ${ahumado.nombre} + '\', \'' + ${ahumado.presentaciones} + '\', \'' + @{/assets/img/marcas} + ${ahumado.marca} + '\' , \'' + ${ahumado.descripcion} + '\' )'"><i class="fab fa-whatsapp text-whatsapp me-2"></i><strong>Consulte aquí</strong></a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-jamonada" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.7s" th:each="ahumado: ${listJamonada}">
                            <div class="product-item">
                                <div class="position-relative2 bg-white overflow-hidden">
                                	<img class="img-fluid w-100" th:src="@{./assets/img/productos} + ${ahumado.nombreImagen}" alt="">
<!--                                     <img class="img-fluid w-100" src="./assets/img/product-8.jpg" alt=""> -->
<!--                                     <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">new</div> -->
                                    <div class="rounded text-white position-absolute start-0 top-0 py-1 px-3"><img class="img-fluid" width="60px" th:src="@{./assets/img/marcas} + ${ahumado.marca}" alt=""></div>
                                </div>
                                <div class="text-center p-4">
                                    <a class="d-block h5 mb-2 text-largo" href="#" th:attr="onclick='openModal(\'' + @{/assets/img/productos} + ${ahumado.nombreImagen} + '\', \'' + ${ahumado.nombre} + '\', \'' + ${ahumado.presentaciones} + '\', \'' + @{/assets/img/marcas} + ${ahumado.marca} + '\' , \'' + ${ahumado.descripcion} + '\' )'"><span class="text-primary1 me-1" th:title="${ahumado.nombre}" th:text="${ahumado.nombre}" style="margin-left: 10px;"></span></a>
                                    <span class="text-primary me-1" th:text="${ahumado.presentaciones}"></span>
<!--                                     <span class="text-body text-decoration-line-through" th:text="${ahumado.precio}"></span> -->
                                </div>
                                <div class="d-flex border-top">
                                    <small class="w-100 text-center border-end py-2">
										<a class="text-body" href="#" th:attr="onclick='openModal(\'' + @{/assets/img/productos} + ${ahumado.nombreImagen} + '\', \'' + ${ahumado.nombre} + '\', \'' + ${ahumado.presentaciones} + '\', \'' + @{/assets/img/marcas} + ${ahumado.marca} + '\' , \'' + ${ahumado.descripcion} + '\' )'"><i class="fa fa-eye text-primary me-2"></i><strong>Ver detalle</strong></a>
                                    </small>
                                    <small class="w-100 text-center border-end py-2">
										<a class="text-body" href="#" th:attr="onclick='openWhatsapp(\'' + @{/assets/img/productos} + ${ahumado.nombreImagen} + '\', \'' + ${ahumado.nombre} + '\', \'' + ${ahumado.presentaciones} + '\', \'' + @{/assets/img/marcas} + ${ahumado.marca} + '\' , \'' + ${ahumado.descripcion} + '\' )'"><i class="fab fa-whatsapp text-whatsapp me-2"></i><strong>Consulte aquí</strong></a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-papa" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.7s" th:each="ahumado: ${listPapa}">
                            <div class="product-item">
                                <div class="position-relative2 bg-white overflow-hidden">
                                	<img class="img-fluid w-100" th:src="@{./assets/img/productos} + ${ahumado.nombreImagen}" alt="">
<!--                                     <img class="img-fluid w-100" src="./assets/img/product-8.jpg" alt=""> -->
<!--                                     <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">new</div> -->
                                    <div class="rounded text-white position-absolute start-0 top-0 py-1 px-3"><img class="img-fluid" width="60px" th:src="@{./assets/img/marcas} + ${ahumado.marca}" alt=""></div>
                                </div>
                                <div class="text-center p-4">
                                    <a class="d-block h5 mb-2 text-largo" href="#" th:attr="onclick='openModal(\'' + @{/assets/img/productos} + ${ahumado.nombreImagen} + '\', \'' + ${ahumado.nombre} + '\', \'' + ${ahumado.presentaciones} + '\', \'' + @{/assets/img/marcas} + ${ahumado.marca} + '\' , \'' + ${ahumado.descripcion} + '\' )'"><span class="text-primary1 me-1" th:title="${ahumado.nombre}" th:text="${ahumado.nombre}" style="margin-left: 10px;"></span></a>
                                    <span class="text-primary me-1" th:text="${ahumado.presentaciones}"></span>
<!--                                     <span class="text-body text-decoration-line-through" th:text="${ahumado.precio}"></span> -->
                                </div>
                                <div class="d-flex border-top">
                                    <small class="w-100 text-center border-end py-2">
										<a class="text-body" href="#" th:attr="onclick='openModal(\'' + @{/assets/img/productos} + ${ahumado.nombreImagen} + '\', \'' + ${ahumado.nombre} + '\', \'' + ${ahumado.presentaciones} + '\', \'' + @{/assets/img/marcas} + ${ahumado.marca} + '\' , \'' + ${ahumado.descripcion} + '\' )'"><i class="fa fa-eye text-primary me-2"></i><strong>Ver detalle</strong></a>
                                    </small>
                                    <small class="w-100 text-center border-end py-2">
										<a class="text-body" href="#" th:attr="onclick='openWhatsapp(\'' + @{/assets/img/productos} + ${ahumado.nombreImagen} + '\', \'' + ${ahumado.nombre} + '\', \'' + ${ahumado.presentaciones} + '\', \'' + @{/assets/img/marcas} + ${ahumado.marca} + '\' , \'' + ${ahumado.descripcion} + '\' )'"><i class="fab fa-whatsapp text-whatsapp me-2"></i><strong>Consulte aquí</strong></a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

               
				
            </div>

        </div>
		
    </div>
    <!-- Product End -->


   <!-- Footer Start -->
    <div class="container-fluid bg-dark footer mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h3 class="fw-bold text-primary mb-4"><span class="stroke">REPRESENTACIONES</span>
					<span class="stroke">DEL SUR</span>
					</h3>
                    <p>Ofrecemos a nuestros clientes los mejores productos. Desde hace más de 30 años, nos hemos dedicado a proporcionar productos frescos y de la más alta calidad.</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-0" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Dirección</h4>
                    <p><i class="fa fa-map-marker-alt me-3"></i>Lima, Ate</p>
                    <p><i class="fa fa-phone-alt me-3"></i>922 731 008</p>
                    <p style="font-size: 13px;"><i class="fa fa-envelope me-3"></i>marketing@representacionesdelsur.com</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Enlaces</h4>
                    <a class="btn btn-link" th:href="@{/}">Inicio</a>
                    <a class="btn btn-link" th:href="@{/nosotros}">Nosotros</a>
                    <a class="btn btn-link" th:href="@{/productos}">Productos</a>
                    <a class="btn btn-link" th:href="@{/contactenos}">Contáctenos</a>
					<a class="btn btn-link" th:href="@{/cobertura}">Cobertura</a>
                </div>
            </div>
        </div>
        <div class="container-fluid copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a href="#">ER Representaciones del Sur</a>, All Right Reserved.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a href="#">Archy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/lib/wow/wow.min.js"></script>
    <script src="./assets/lib/easing/easing.min.js"></script>
    <script src="./assets/lib/waypoints/waypoints.min.js"></script>
    <script src="./assets/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="./assets/js/main.js"></script>
	
	
	
	<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
			<div class="modal-header">
				<img id="modalMarca" class="img-fluid" width="60px" src="" alt="">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
            <div class="modal-body">
				<div class="row g-2">
					<div class="col-xl-7 d-flex justify-content-center">
						<img id="modalImage" class="img-fluid" src="" alt="">
					</div>
<!-- 					<div class="col-xl-5 d-flex flex-column align-items-center"> -->
					<div class="col-xl-5 d-flex flex-column">
						<h5 style="color: forestgreen"><span id="modal_nombre"></span></h5>
						<br>
						<div class="text-start" id="modal_presentaciones">
<!-- 							<h5 style="color: black">Presentaciones de:</h5> -->
<!-- 							<h5 style="color: black">500 Gr.</h5> -->
<!-- 							<h5 style="color: black">1 Kl.</h5> -->
						</div>
						<div>
						<hr/>
						</div>
						<span id="modal_descripcion"></span>
					</div>
				</div>
            </div>
			<div class="modal-footer">
			    <h5 style="color: white">ER REPRESENTACIONES DEL SUR</h3>
		    </div>
        </div>
    </div>
</div>


<script>

//Tu lista de personas
var listaTodoJson = '[[${listaTodoJson}]]';
var listaTodoDecodificados = JSON.parse(listaTodoJson.replace(/&quot;/g, '"'));

// Obtén una referencia al campo de entrada y al div
var inputBusqueda = document.getElementById("txt_busqueda");
var divBusqueda = document.getElementById("div_busqueda");

var tabBusqueda = document.getElementById("tab-busqueda");

var spans = tabBusqueda.querySelectorAll('span.text-primary1');

inputBusqueda.addEventListener("input", function() {
	
	spans.forEach(function(span) {
	        var divContenedor = span.closest('.product-items');
	        if (divContenedor) {
	            divContenedor.style.display = ''; 
	        }
	});

  var textoBusqueda = inputBusqueda.value;
  var listaFiltradas = listaTodoDecodificados.filter(function(producto) {
    return !(producto.nombre).toLowerCase().includes(textoBusqueda.toLowerCase());
  });

  listaFiltradas.forEach(function(lista) {

	spans.forEach(function(span) {

	    if (span.textContent.trim() === lista.nombre) {
	        var divContenedor = span.closest('.product-items');
	        if (divContenedor) {
	            divContenedor.style.display = 'none';
	        }
	    }
	});

  });

	var tabAhumado = document.getElementById('tab-ahumado');
	var tabEmpacado = document.getElementById('tab-empacado');
	var tabJamonada = document.getElementById('tab-jamonada');
	var tabPapa = document.getElementById('tab-papa');
  var tabBusqueda = document.getElementById('tab-busqueda');
  
  tabAhumado.classList.remove('active');
  tabEmpacado.classList.remove('active');
  tabJamonada.classList.remove('active');
  tabPapa.classList.remove('active');
  
  tabBusqueda.classList.add('show');
  tabBusqueda.classList.add('active');
  
});


function openModal(imageUrl, nombre, presentacion, marca, descripcion) {
    var modalImage = document.getElementById('modalImage');
    var miSpanNombre = document.getElementById("modal_nombre");
    var resultDiv = document.getElementById("modal_presentaciones");
    var modalMarca = document.getElementById('modalMarca');
    var descripcionDiv = document.getElementById("modal_descripcion");
    
    var listaPresentaciones = presentacion.split("_");
    var resultPre = '<h5 style="color: black">Presentaciones de:</h5>'+listaPresentaciones.map(item => ''+`<h5 style="color: black">${item}</h5>`).join("");
    
    miSpanNombre.innerHTML = nombre;
    modalImage.src = imageUrl;
    resultDiv.innerHTML = resultPre;
    modalMarca.src = marca;
    descripcionDiv.innerHTML = descripcion;

    $('#imageModal').modal('show');
}

function openWhatsapp(imageUrl, nombre, presentacion, marca, descripcion) {
    window.open('https://wa.me/51922731008?text=ER Representaciones del Sur,%20me%20gustar%C3%ADa%20contactarme%20con%20ustedes%20por%20el%20producto%20'+nombre+'.%20Muchas%20gracias.', '_blank');
}

function limpiarbusqueda() {
	
	$('#txt_busqueda').val('');
}


</script>
	
	
	
	
	
</body>

</html>